{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Регистрация</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Псевдоним'
        }) }}
        {{ form_row(registrationForm.email,{
            label: 'Email'
        }) }}
        {{ form_row(registrationForm.plainPassword)

        }}


        <button type="submit" class="btn">Зарегестрироваться</button>
    {{ form_end(registrationForm) }}
{% endblock %}
