{% extends 'base.html.twig' %}

{% block title %}Новый пост{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Создание нового поста</h1>
        {{ form_start(postForm) }}
        {{ form_row(postForm.title, {
            label: 'Заголовок'
        }) }}
        {{ form_row(postForm.content,{
            label: 'Контент'
        }) }}
        {{ form_row(postForm.category,{
            label: 'Категория'
        }) }}
        <button type="submit" class="btn">Создать пост</button>
        {{ form_end(postForm) }}
    {% endif %}
    {% if not app.user %}
        <h1>Что бы создать пост, вам необходимо авторизоваться.</h1>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="{{ path('app_login') }}">Войти</a></li>
            <li><a class="nav-link" href="{{ path('app_register') }}">Регистрация</a></li>
        </ul>
    {% endif %}
{% endblock %}