{% for post in posts %}
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.getTitle() }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.getCreatedAt()|date('Y-m-d') }}</h6>
                <p class="card-text">{{ post.getContent() }}</p>
                <a href="{{ path('category', {'category_id': post.getCategory().getId() }) }}" class="card-link">{{ post.getCategory().getName() }}</a>
                <a href="{{ path('profile', {'author_id': post.getAuthor().getId() }) }}" class="card-link">{{ post.getAuthor().getUserName() }}</a>
            </div>
        </div>
    </div>
{% endfor %}