{% for post in posts %}
    <div class="row pt-4">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <span class="float-left">{{ post.getTitle() }}</span>
                    <span class="float-right">{{ post.getCreatedAt()|date('Y-m-d H:i:s') }}</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.getTitle() }}</h5>
                    <p class="card-text">{{ post.getContent()|length > 50 ? post.getContent()|slice(0, 255) ~ '...' : post.getContent() }}</p>
                    <a href="{{ path('full_post', {'post_id': post.getId() }) }}" class="btn btn-primary float-right">Читать полностью</a>
                </div>
                <div class="card-footer text-muted">
                    <span class="float-left">
                        <i class="bi bi-person-fill"></i>
                        <a href="{{ path('profile', {'author_id': post.getAuthor().getId() }) }}"
                           class="card-link"> {{ post.getAuthor().getUserName() }}</a>
                    </span>
                    <span class="float-right">
                    <i class="bi bi-newspaper"></i>
                        <a href="{{ path('category', {'category_id': post.getCategory().getId() }) }}"
                           class="card-link">{{ post.getCategory().getName() }}</a>
                    </span>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endfor %}
<div class="row pt-4"></div>